{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 140,
	"htmlWhitespaceSensitivity": "ignore",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"svelteStrictMode": false,
	"bracketSameLine": true,
	"svelteAllowShorthand": true
}
